@model IEnumerable<CourseProject.Models.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "UserListView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" onclick="Locking()">Lock</button>
        <button type="button" class="btn btn-default" onclick="Unlocking()">Unlock</button>
        <button type="button" class="btn btn-default" onclick="Delete()">Delete</button>
    </div>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lockout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                <input type="checkbox" id="select_all">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @if (item.Lockout)
                {
                    <p> Locked</p>
                }
                else
                {
                    <p> Unlocked</p>
                }
            </td>
            <td>
                <p>@String.Join(", ", item.Role)</p>
            </td>
            <td>
                <input class="checkbox" type="checkbox" name="statuses" value="@item.Id">
            </td>
            <td>
                @if (item.IsAdmin)
                {
                    <input type="button" value="Delete admin"
                           onclick='DeleteAdminRole({ id : "@item.Id", role:"Admin"});' />
                }
                else
                {
                    <input type="button" value="Add admin"
                           onclick='AddAdminRole({ id : "@item.Id", role:"Admin"});' />
                }
            </td>
            <td>
                @Html.ActionLink("Go", "UsersPersonalArea","Home",new { userId=item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
