@model IEnumerable<CourseProject.Models.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "UserListView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserListView</h2>

<p>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" onclick="Locking()">Lock</button>
        <button type="button" class="btn btn-default" onclick="Unlocking()">Unlock</button>
        <button type="button" class="btn btn-default" onclick="Delete()">Delete</button>
    </div>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lockout)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationDate)
                </td>
                <td>
                    @if (item.Lockout)
                    {
                        <p> Locked</p>
                    }
                    else
                    {
                        <p> Unlocked</p>
                    }
                </td>
                <td>
                    <input class="checkbox" type="checkbox" name="statuses" value="@item.Id">
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
<script src="~/js/manageUsers.js"></script>
}
