@model IEnumerable<CourseProject.Models.ManageViewModels.UserViewModel>

@{
    ViewData["Title"] = "UserListView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" onclick="Locking()">@Localizer["Lock"]</button>
        <button type="button" class="btn btn-default" onclick="Unlocking()">@Localizer["Unlock"]</button>
        <button type="button" class="btn btn-default" onclick="Delete()">@Localizer["Delete"]</button>
    </div>

<br />
<br />
<table class="table">
    <thead style="background-color:white;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lockout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                <input type="checkbox" id="select_all">
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.ActionLink(item.Email, "PersonalArea", "Home", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @if (item.Lockout)
                {
                <p> @Localizer["Locked"]</p>
                }
                else
                {
                <p> @Localizer["Unlocked"]</p>
                }
            </td>
            <td>
                <p>@String.Join(", ", item.Role)</p>
            </td>
            <td>
                <input class="checkbox" type="checkbox" name="statuses" value="@item.Id">
            </td>
            <td>
                @if (item.IsAdmin)
                {
                    <input type="button" class="btn btn-default btn-xs" value="@Localizer["DeleteAdmin"]"
                           onclick='DeleteAdminRole({ id : "@item.Id", role:"Admin"});' />
                }
                else
                {
                    <input type="button" class="btn btn-default btn-xs" value="@Localizer["AddAdmin"]"
                           onclick='AddAdminRole({ id : "@item.Id", role:"Admin"});' />
                }
            </td>
        </tr>
        }
    </tbody>
</table>
