@model CourseProject.Models.ViewModels.ArticleReadViewModel

@{
    ViewData["Title"] = "ArticleRead";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <dl class="dl-horizontal">
        <dt>
            @Localizer["UserName"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.Raw(Model.Data)
        </dd>
        <dt>
            @Localizer["Description"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Localizer["CreatedDate"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Localizer["ModifitedDate"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifitedDate)
        </dd>
        <dt>
            @Localizer["Speciality"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Speciality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Localizer["Name"]
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Localizer["Rate"]
        </dt>
        <dd>
            <div id="rateId" data-value="@Model.Id"></div>
        </dd>
        @if (Model.Tags != null)
        {
        <dt>
            @Localizer["Tags"]
        </dt>
            <dd>
                <div>
                    @foreach (string teg in Model.Tags)
                    {
                        <a class="tag label label-primary"
                           href='@Url.Action("SearchByHashtag","Home",new { hashtag=teg })'>@teg</a>
                    }
                </div>
            </dd>
        }

    </dl>


    <p>Comments:</p>
    <ul id="Comments_@Model.Id">
        @foreach (var i in Model.Comments)
        {
            <li>
                <div>@i.Date -  @i.Name</div>
                @i.Comment
                <input type="button" id="like" onclick="ProcessLike('@i.Id')" value="like!" />
                <div>@i.Likes</div>
            </li>
        }
        <input type="text" id="commentFiled" />
        <input type="button" id="submitComment" onclick="ProcessComment('@Model.Id')" value="Comment" />
    </ul>
</div>

@section Scripts{
    <script src="~/lib/editor/editor.js"></script>

    <script>
        $("#rateId").rateYo({
            rating: @Model.Rate.ToString(System.Globalization.CultureInfo.GetCultureInfo("en-US")),
            starWidth: "20px",
            readOnly:@Model.IsAvailableRate.ToString().ToLower()
        });
        $("#rateId").rateYo()
            .on("rateyo.set", function (e, data) {
                ProcessRate($("#rateId").data("value"), data.rating);
            });
      
    </script>
}