@model CourseProject.Models.ViewModels.ArticleReadViewModel

@{
    ViewData["Title"] = "ArticleRead";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ArticleRead</h2>

<div>
    <h4>ArticleReadViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifitedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifitedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Specialty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Specialty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd>
            @foreach (CourseProject.Models.ViewModels.TagViewModel tag in Model.Tags)
            {
                <p>@tag.Title</p>
            }
        </dd>
    </dl>
    <p>Rate:</p>
    <select id="rateComboBox">
        <option> 1</option>
        <option> 2</option>
        <option> 3</option>
        <option> 4</option>
        <option> 5</option>
    </select>
    <input type="button" id="submitRate" onclick="ProcessRate('@Model.Id')" value="Rate" />

    <p>Comments:</p>
    <ul id="@Model.Id">
        @foreach (var i in Model.Coments)
        {
        <li>
            <div>@i.Date -  @i.Name</div>
            @i.Comment
            <input type="button" id="like" onclick="ProcessLike('@i.Id')" value="like!" />
            <div>@i.Likes</div>
        </li>
            
        }
        <input type="text" id="commentFiled" />
        <input type="button" id="submitComment" onclick="ProcessComment('@Model.Id')" value="Comment" />
    </ul>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts{
    <script src="~/js/articleRead.js"></script>
}
