@model CourseProject.Models.HomeViewModels.ArticleReadViewModel

@{
    ViewData["Title"] = "ArticleRead";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="readArticle">
        <div id="name">
            <h2 class="articleRead-name">@Html.DisplayFor(model => model.Name)</h2>
        </div>
        <div id="speciality">
            <h2 class="articleRead-speciality">@Html.DisplayFor(model => model.Speciality) </h2>
        </div>
        <div style="float:right;display:block;">
            <div id="username" >
                @Localizer["UserName"]
                <span class="articleRead-info"> @Html.DisplayFor(model => model.UserName)</span>
            </div>
            <div id="createdDate" >
                @Localizer["CreatedDate"]
                <span class="articleRead-info">@Html.DisplayFor(model => model.CreatedDate)</span>
            </div>
            <div id="modifiedDate" >
                @Localizer["ModifitedDate"]
                <span class="articleRead-info">@Html.DisplayFor(model => model.ModifitedDate)</span>
            </div>
        </div>
        <div id="tags">
            @if (Model.Tags != null)
            {
                @Localizer["Tags"]
                <p>
                    @foreach (var teg in Model.Tags)
                    {
                        <a class="tag label label-primary"
                           href='@Url.Action("SearchByHashtag","Home",new { hashtag=teg })'>@teg</a>
                    }
                </p>
            }
        </div>
        <div id="description">
            @Localizer["Description"]
            <p class="articleRead-description">@Html.DisplayFor(model => model.Description)</p>
        </div>
        <hr style=" border-width:5px;">
        <div id="exportContent" class="pre-scrolable ">
            @Html.Raw(Model.Data)
        </div>
        <hr style=" border-width: 5px;" />
        <div class="articleRead-rate">
            <div id="rateId" data-value="@Model.Id"></div>
        </div>
        <div>
            <button type="button" style="margin-top:12px;" class="btn btn-default btn-sm"
                    onclick="export2Doc('exportContent','@Model.Name');">
                <span class="glyphicon glyphicon-download-alt"></span>
            </button>
        </div>
    </div>
    <br />
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel comment-input">
                    <div class="panel-body">
                        <textarea class="form-control" rows="2" id="commentFiled"
                                  placeholder="@Localizer["CommentPlaceholder"]"></textarea>
                        <div class="mar-top clearfix">
                            <button id="submitComment" onclick="ProcessComment('@Model.Id')"
                                    class="btn btn-sm btn-primary pull-right" type="button">
                                <i class="glyphicon glyphicon-pencil"></i> @Localizer["AddComment"]
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel comment-list">
                    <div class="panel-body" id="Comments_@Model.Id">
                        @foreach (var i in Model.Comments)
                        {
                            <div class="media-block">
                                <div class="media-body">
                                    <div class="mar-btm">
                                        <span class=" text-semibold media-heading box-inline comment-Name">@i.Name</span>
                                        <span class="text-muted text-sm"> - @i.Date</span>
                                    </div>
                                    <br />
                                    <p name="comment">  @i.Comment</p>
                                    <div class="pad-ver">
                                        <span class="tag-sm">
                                            <i class="glyphicon glyphicon-heart " style="color:#860a0a;"></i>
                                            <span id="likes_@i.Id">@i.Likes</span>
                                        </span>
                                        <div class="btn-group" style="float:right;display:block;">
                                            <button class="btn btn-sm btn-default btn-hover-success active"
                                                    id="like" onclick="ProcessLike('@i.Id')">
                                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts{
    <script>
        $("#rateId").rateYo({
            rating: @Model.Rate.ToString(System.Globalization.CultureInfo.GetCultureInfo("en-US")),
            starWidth: "20px",
            readOnly: @Model.IsAvailableRate.ToString().ToLower()
        });
        $("#rateId").rateYo()
            .on("rateyo.set", function (e, data) {
                ProcessRate($("#rateId").data("value"), data.rating);
            });
    </script>
}



