@model CourseProject.Models.HomeViewModels.MainPageViewModel
@{
    ViewData["Title"] = "Home Page";
}


<section class="intro">
    <row>
        <div class="col-lg-9 col-sm-12 left">
            <ul class="nav nav-tabs">
            <li class="active"><a  data-toggle="tab" href="#panel1">@Localizer["TopRating"]</a></li>
            <li><a data-toggle="tab" href="#panel2">@Localizer["LatestModified"]</a></li>
        </ul>

        <div class="tab-content">
            <div id="panel1" class="tab-pane fade in active">
                <h3>@Localizer["TopRating"]</h3>
                @foreach (var item in Model.TopRating)
                {
                    <div class="bs-callout bs-callout-danger">
                        <div class="article-name text-cut"> <h4> <a href='~/Home/ArticleRead?id=@item.Id'> @item.Name </a></h4></div>
                        <div style="width:100%">
                            <div style="display: inline-block;">
                                <span class="text-muted text-sm"> <i class="fa  fa-lg"></i> - @item.ModifitedDate </span>
                            </div>
                            <div style="display: inline-block; " id='@Localizer["TopRating"].Name@item.Id'></div>
                        </div>
                        <div class="article-speciality text-cut">  @item.Speciality</div>
                        <div class="article-description text-cut">  @item.Description</div>
                    </div>
                    <script>
                            $("#@Localizer["TopRating"].Name@item.Id").rateYo({
                                rating: @item.Rate.ToString(System.Globalization.CultureInfo.GetCultureInfo("en-US")),
                                starWidth: "15px",
                                readOnly: true
                            });
                    </script>
                }
            </div>

            <div id="panel2" class="tab-pane fade">
                <h3>@Localizer["LatestModified"]</h3>
                @foreach (var item in Model.LatestModified)
                {
                    <div class="bs-callout bs-callout-danger">
                        <div class="article-name text-cut"> <h4> <a href='~/Home/ArticleRead?id=@item.Id'> @item.Name </a></h4></div>
                        <div style="width:100%">
                            <div style="display: inline-block;">
                                <span class="text-muted text-sm"> <i class="fa  fa-lg"></i> - @item.ModifitedDate </span>
                            </div>
                            <div style="display: inline-block; " id='@Localizer["LatestModified"].Name@item.Id'></div>
                        </div>
                        <div class="article-speciality text-cut">  @item.Speciality</div>
                        <div class="article-description text-cut">  @item.Description</div>
                    </div>
                    <script>
                            $("#@Localizer["LatestModified"].Name@item.Id").rateYo({
                                rating: @item.Rate.ToString(System.Globalization.CultureInfo.GetCultureInfo("en-US")),
                                starWidth: "15px",
                                readOnly: true
                            });
                    </script>
                }
            </div>
        </div>

            <br />
            <br />
        </div>
        <div class="col-lg-3 col-sm-12 right">
            <div id="tagCloud" class="cloud" style=" position:fixed; width:400px; height:70vh;"></div>
        </div>
    </row>
</section>


@section Scripts {
    <script type="text/javascript">
        var tagList = @Json.Serialize(Model.Tags);
        var word_list = new Array();
        for (var i = 0; i < tagList.length; i++) {
            word_list.push({
                text: tagList[i].title,
                weight: tagList[i].width,
                link: '/Home/SearchByHashtag?hashtag=' + tagList[i].title
            });
        }
        $(function () {
            $("#tagCloud").jQCloud(word_list);
        });
    </script>
}
