@model CourseProject.Models.ViewModels.MainPageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h3>LatestModified</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Specialty
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LatestModified)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speciality)
                </td>
                <td>
                    @Html.ActionLink("Read", "ArticleRead", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>


<h3>TopRating</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Specialty
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TopRating)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speciality)
                </td>
                <td>
                    @Html.ActionLink("Read", "ArticleRead", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>




<div id="tagCloud" style="width: 400px; height: 300px; "></div>





@section Scripts {
    <script type="text/javascript">
        var tagList = @Json.Serialize(Model.Tags);
        var word_list = new Array();
        for (var i = 0; i < tagList.length; i++) {
            word_list.push({
                text: tagList[i].title,
                weight: tagList[i].width,
                link: '/Home/SearchByHashtag?hashtag=' + tagList[i].title
            });
        }
        $(function () {
            $("#tagCloud").jQCloud(word_list);
        });

       
    </script>

}
