@model CourseProject.Models.ViewModels.MainPageViewModel
@{
    ViewData["Title"] = "Home Page";
}




<h3>LatestModified</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Specialty
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LatestModified)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specialty)
                </td>
                <td>
                    @Html.ActionLink("Read", "ArticleRead", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>


<h3>TopRating</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Specialty
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TopRating)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specialty)
                </td>
                <td>
                    @Html.ActionLink("Read", "ArticleRead", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
