@model CourseProject.Models.HomeViewModels.PersonalAreaViewModel

@{
    ViewData["Title"] = "PersonalArea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="alert alert-info">
    <a href="#" id="username" data-type="text" data-pk="@Model.UserId" data-name="username"
       data-url="/Home/UpdateName" >
        @Model.UserName
    </a>
</div>
    <button type="button" class="btn btn-default" 
            onclick="location.href='@Url.Action("RenderCreateArticle", "Home", new { userId=Model.UserId })'">
        @Localizer["Create"]
    </button>
<br />
<br />

<table class="table">
    <thead style="background-color:white;">
        <tr style="text-align:left;">
            <th style="text-align:left;">
                @Localizer["Name"]
            </th>
            <th>
                @Localizer["Description"]
            </th>
            <th>
                @Localizer["Specialty"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="articlesTableBody" style="text-align:left;">
        @foreach (var item in Model.ArticleList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speciality)
                </td>
                <td>
                    <div class="btn-toolbar" role="toolbar" style="width:80px">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs"
                                    onclick="location.href='@Url.Action( "ArticleRead", "Home", new { id = item.Id })'">
                                <span class="glyphicon glyphicon-eye-open "></span>
                            </button>
                            <button type="button" class="btn btn-default btn-xs"
                                    onclick="location.href='@Url.Action( "ArticleEditor", "Home", new { id = item.Id })'">
                                <span class="glyphicon glyphicon-pencil "></span>
                            </button>
                            <button type="button" class="btn btn-default btn-xs"
                                    onclick="articleDelete('@item.Id','@Model.UserId ')">
                                <span class="glyphicon glyphicon-remove "></span>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>

@section Scripts{
    <script>
        $('#username').editable();
    </script>
}


