@model IEnumerable<CourseProject.Models.ViewModels.ArticleListViewModel>

@{
    ViewData["Title"] = "PersonalArea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PersonalArea</h2>

@{
    string RenderCreateArticleUrl = @Url.Action("RenderCreateArticle", "Home");
}
<button type="button" class="btn btn-default" onclick="location.href='@RenderCreateArticleUrl'">Create Article</button>

///////


<a href="#" id="username" data-type="text" data-pk="1" data-name="username" data-url="/Home/UpdateName" data-original-title="Enter username">superuser</a>
<script>

    $('#username').editable();



</script>

//////

<table class="table" id="articlesTable">
    <thead>
        <tr style="text-align:left;">
            <th style="text-align:left;">
                @Localizer["Name"]
            </th>
            <th>
                @Localizer["Description"]
            </th>
            <th>
                @Localizer["Specialty"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="articlesTableBody" style="text-align:left;">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speciality)
                </td>
                <td>
                    @Html.ActionLink("Edit", "ArticleEditor", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteArticle", new { id = item.Id })|
                    @Html.ActionLink("Read", "ArticleRead", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts{
    <script>
        $('#articlesTable').DataTable();
    </script>
}


