@model IEnumerable<CourseProject.Models.HomeViewModels.ArticleListViewModel>

@{
    ViewData["Title"] = "SearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@foreach (var item in Model)
{

    <div class="bs-callout bs-callout-danger">
        <div class="article-name text-cut"> <h4> <a href='~/Home/ArticleRead?id=@item.Id'> @item.Name </a></h4></div>
        <div style="width:100%">
            <div style="display: inline-block; ">
                <span class="text-muted text-sm"> <i class="fa  fa-lg"></i> - @item.ModifitedDate </span>
            </div>
            <div style="display: inline-block; " id='@item.Id'></div>
        </div>
        <div class="article-speciality text-cut">  @item.Speciality</div>
        <div class="article-description text-cut">  @item.Description</div>
    </div>
    <script>
     $("#@item.Id").rateYo({
        rating: @item.Rate.ToString(System.Globalization.CultureInfo.GetCultureInfo("en-US")),
        starWidth: "15px",
        readOnly: true
     });                   
    </script>
}
